<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="baglanti" connectionString="Data Source=KUBRA\SQLEXPRESS02;Initial Catalog=_20Haziran;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>